
@{
    ViewData["Title"] = "Index";
}

@model List<Post> 

<h1>Merhaba</h1>
<h2> Burası bir blog ve online alışveriş sitesinin Ana sayfası</h2>


<div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
            <div class="fh5co_suceefh5co_height">
                <img src="site/homepage/images/@ViewBag.HomeImage" alt="img" />
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class="">
                        <a href="#" class="color_fff">
                            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Dec 31,2017
                        </a>
                    </div>
                    <div class=""><a href="single.html" class="fh5co_good_font"> After all is said and done, more is said than done </a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">                           
                           <img src="site/homepage/images/@item.Images.FirstOrDefault().ImageURL " alt="img" />
                            @item.PostTitle
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="#" class="color_fff">
                                        <i class="fa fa-clock-o"></i>@item.UpdatedDate
                                    </a>
                                </div>
                                <div class=""><a href="single.html" class="fh5co_good_font_2">@item.PostTitle <br>@item.PostDetail</a></div>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</div>
<script>
    {

    }
</script>


