<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Font family Css-->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="~/site/homepage/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/site/homepage/css/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <!-- Additional Bootstrap CSS -->
    <link href="~/site/homepage/css/style_1.css" rel="stylesheet" type="text/css" />
    <!-- Modernizr JS -->
    <script src="~/site/homepage/js/modernizr-3.5.0.min.js"></script>
    <!-- Modernizr JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
    <body>
        <!-- main page layout heead bar "Welcome" and date -->
        <div class="container-fluid fh5co_header_bg">
            <div class="container">
                <div class="row">
                    <div class="col-12  ">
                        <div class="d-inline-block fh5co_padding_menu">
                            <img src="~/site/homepage/images/sheepicon.png" alt="img" width="32" />
                            <a class="treding_btn text-center" asp-controller="Home" asp-action="Index">Home Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>


        <!--Footer-->
        <footer class="fh5co_footer_bg">
            <div class="container-fluid fh5co_footer_bg pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 spdp_right py-5">
                            <img src="~/site/homepage/images/sheepicon.png" alt="img" class="footer_logo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid fh5co_footer_right_reserved ">
                <div class="container">
                    <div class="row  ">
                        <div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2021, All rights reserved. Design by Tansu. </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="~/site/homepage/js/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"></script>
        @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"></script>*@
         @*Waypoints 
        <script src="~/site/homepage/js/jquery.waypoints.min.js"></script>*@
        
        <!------ Include the above in your HEAD tag ---------->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>




